
@media only screen and (max-width: 400px){
    .displayCurrentWeather img {
        position: absolute;
        width: 10rem;
        top: -5rem;
        right: -1rem;
    }    
}
@media only screen and (min-width:401px) {
    .displayCurrentWeather img {
        position: absolute;
        width: 15rem;
        top: -5rem;
        right: -1rem;
    }    
}

.imageContainer{
    position:relative;
}

.weatherInfoContainer h1 {
    color: #6C40B5;
    font-size: 81px;
}

.weatherInfoContainer p{
    margin:0px;
}

.weatherInfoContainer {
    margin-top: 20px;
}