.searchHistoryContainer {
    background-color: var(--bs-body-bg);
    border-radius: var(--bs-border-radius);
    border: var(--bs-border-width) solid var(--bs-border-color);
    min-height: 200px;
    padding: 0px !important;
    width: auto !important;
}

@media only screen and (max-width:400px) {
    .searchHistoryContainer {
        margin:0.5rem;
        margin-top: 5rem; 
        margin-left: calc(var(--bs-gutter-x)* .5) !important;
        margin-right: calc(var(--bs-gutter-x)* .5) !important;
    }

    .searchHistoryContainer .row{
        padding-left: calc(var(--bs-gutter-x)* 1) !important;
        padding-right: calc(var(--bs-gutter-x)* 1) !important;
    }
}

@media only screen and (min-width:401px) {
    .searchHistoryContainer {
        margin-top: 10rem; 
    }
    .searchHistoryContainer .row{
        padding-left: calc(var(--bs-gutter-x)* 0.5) !important;
        padding-right: calc(var(--bs-gutter-x)* 0.5) !important;
    }
}

.searchHistoryContainer {
    
}

.searchHistoryContainer .row {
    padding-top: 0.25rem;
}