@media only screen and (max-width: 400px){
    .searchSection {
        padding: 0.5rem;
    }
}
@media only screen and (min-width:401px) {
    .searchSection {
        padding-top: 1rem;
        padding-left: 0px !important;
        padding-right:0px !important;
    }
    
}

.searchSection .btn-secondary {
    --bs-btn-bg: #6C40B5 !important;
    --bs-btn-border-color: #6C40B5 !important;
    --bs-btn-hover-bg: #6C40B533 !important;
    --bs-btn-hover-border-color: #6C40B533 !important;
}

.searchSection .col-10,.col-sm-11 {
    padding-left:0px;
}

.searchSection .col-2,.col-sm-1 {
    padding:0px;
}

.searchSection .searchButton {
    width:100%;
    height:100%;
}